templates/Funcionando 100% com agendamento.json
{
  "name": "IA Funcioonando",
  "nodes": [
    {
      "parameters": {
        "content": "# Agente IA",
        "height": 80,
        "width": 196,
        "color": 5
      },
      "id": "eda4e209-21d4-48e5-9c24-8c61b1b4977a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const toolItems = (items || []).filter(i => i?.json && i.json.mensagem);\nif (toolItems.length > 0) {\n  return toolItems;\n}\nreturn items;"
      },
      "id": "b1c2d3e4-aaaa-4bbb-8ccc-9ddd0eee1111",
      "name": "Preferir Mensagem Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        256
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 1132,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        48
      ],
      "typeVersion": 1,
      "id": "e9710e18-c288-475c-89b2-e489b25b51e1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "=gpt-4.1-mini",
        "options": {}
      },
      "id": "7b19c3ce-c6dc-4174-b7cd-0c408a312525",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3904,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8c41044b-731a-414e-ac0f-ce5845240126",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4496,
        368
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "d8ece868-6b24-4de7-8fea-590246ef6451",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4112,
        544
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.mensagem || $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"messages\": [\n    \"Por favor, gere a saída **exatamente** no formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}.\",\n    \"As mensagens devem ser divididas de forma natural, simulando uma conversa humana. Cada mensagem deve conter entre 300 e 500 caracteres, mantendo o sentido completo e a fluidez sem cortar ideias no meio.\",\n    \"Não inclua mensagens vazias. Preserve o contexto e o tom de conversa em cada divisão.\",\n    \"Remova qualquer formatação em *negrito* (substitua '**' por texto simples, sem asteriscos). Mantenha o formato ~tachado~ para trechos alterados e o _itálico_ apenas em casos extremamente raros.\",\n    \"Sempre que houver um link, coloque-o entre crases, por exemplo: `www.link.com.br`.\",\n    \"Sempre que houver quebra de linha no conteúdo original, substitua por '\\n' dentro da string.\", \n    \"Substitua a palavra 'Prazer' por 'feliz em conhecer'.\",\n    \"Certifique-se de que a resposta final siga **exatamente** a estrutura do JSON solicitada, incluindo colchetes, aspas e formato correto.\"\n  ]\n}"
            }
          ]
        }
      },
      "id": "bd214b4a-6763-4996-88d1-16e7ab796ca8",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3920,
        336
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3760,
        48
      ],
      "typeVersion": 1,
      "id": "3c5f5124-b1e2-41db-8143-133e35acff1a",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Texto",
        "height": 80,
        "width": 736,
        "color": 5
      },
      "id": "eb6c709d-f0c1-4d7f-b870-485c6cbc9516",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3792,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "b6aabd60-5e8c-4202-9732-6ea94dbd7825",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4272,
        368
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "338d4498-ed17-4fe0-a96b-2d5851485a5f",
      "name": "1 segundo",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4992,
        384
      ],
      "webhookId": "3d687a7e-268e-4399-bf51-77626e001509"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "contato",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            },
            {
              "keyName": "empresa_id",
              "keyValue": "={{ $('Obter conexão e empresa').first().json.empresa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1888,
        416
      ],
      "id": "c0fe370c-51bc-44e9-a39c-3060ca3702b2",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.contato }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        368
      ],
      "id": "14978143-040f-472b-b79c-97e180c98546",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "contatos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados').first().json.NomeWpp }}"
            },
            {
              "fieldId": "contato",
              "fieldValue": "={{ $('Webhook EVO').first().json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $('Obter conexão e empresa').first().json.empresa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1504,
        496
      ],
      "id": "184474c5-a552-4dc7-8127-a161c20e92e3",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 604,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        48
      ],
      "typeVersion": 1,
      "id": "cbb0f0b1-ec8d-462f-b3b0-d7f6285d5bd1",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "10ae30e3-dca2-455c-a8e5-fb6bb698b8e9",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 884,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        224
      ],
      "typeVersion": 1,
      "id": "46040085-b0e3-4b40-a118-a5b0ef8e8461",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Cadastrar Lead Supa Base",
        "height": 80,
        "width": 596,
        "color": 4
      },
      "id": "fb1a207b-5d85-4d3d-8e96-9ffb75a5a8a5",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1936,
        240
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 660,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        160
      ],
      "typeVersion": 1,
      "id": "71aa9a34-f6b4-4042-a247-66a9d6db84d7",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3e949337-89b9-4fcc-a461-45458213b840",
        "options": {}
      },
      "id": "0111ebfc-9d7b-42e6-8893-490dd8b30f64",
      "name": "Webhook EVO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3616,
        432
      ],
      "webhookId": "3e949337-89b9-4fcc-a461-45458213b840"
    },
    {
      "parameters": {
        "content": "# Pausar IA",
        "height": 80,
        "width": 216,
        "color": 4
      },
      "id": "769dbc9e-8ad6-406e-b31a-1bb78d5b66bc",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        160
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 1576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3680,
        224
      ],
      "typeVersion": 1,
      "id": "4e11b558-194c-4894-b984-5c9b46f95f8a",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## OBTER DETALHES DA EMPRESA, CLIENTE, MENSAGEM E ROTAS",
        "height": 80,
        "width": 852,
        "color": 4
      },
      "id": "84f81581-b6af-4ffa-9a80-de87e2b6a89c",
      "name": "Sticky Note67",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3424,
        240
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "3699e388-bcd8-45f5-b351-05214f8b5355",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        304,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').first().json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a8d08e37-f100-4470-9de8-76ca5a21bbc0",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook EVO').first().json.body.data.message.imageMessage.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59edf0ad-5009-4153-a9ed-46bd8a0fcb3d",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        528
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').first().json.Telefone }}",
        "messageData": "={{ $('Dados').first().json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "be13bc8b-f8dc-49fb-96bb-04704491de83",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        544
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').first().json.Telefone }}",
        "messageData": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "646a35ab-20ee-4cd5-ac16-839ddab727c0",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        368
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook EVO').first().json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook EVO').first().json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook EVO').first().json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook EVO').first().json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "92cb4502-cbe8-4998-9802-b988bf92dd6c",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        64,
        272
      ]
    },
    {
      "parameters": {
        "content": "# Mensagem Picotada",
        "height": 80,
        "width": 396,
        "color": 4
      },
      "id": "850dae98-f454-41e8-83de-03b5aa30893d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        48
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é",
        "inputType": "base64",
        "options": {}
      },
      "id": "a8cbc2d0-f5ee-43ba-a585-73c7dd9d1a3b",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        464,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.Redis2 }}",
              "rightValue": "={{ $json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1c54ffca-d420-41c6-b6e8-020271574170",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8cf85c4f-850a-4041-8a53-ac9bfdbd4caa",
      "name": "Compara Get Memory1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        304
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').first().json.Telefone }}",
        "messageData": "={{ $('Dados').first().json.message.content }}",
        "tail": true
      },
      "id": "7d6b9218-ba6e-447d-b044-ed3091533695",
      "name": "Text Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        32
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').first().json.Telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "0da0e329-abcd-4245-abe1-59a053f46a32",
      "name": "Audio Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        192
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').first().json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "843980a7-9fc7-4b77-a58d-a2ee76e81c39",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        304
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "9d0c79c5-5fe9-4b2d-b97c-f962679f7259",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        304
      ],
      "webhookId": "f6c81d17-1a7d-40c4-8617-deab7d16595e"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').first().json.Telefone }}",
        "options": {}
      },
      "id": "d76c037c-8c8f-4b72-bf7c-5854ad1b4a2d",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').first().json.Telefone }}",
        "options": {}
      },
      "id": "709c2397-63b2-465b-89ab-73f9e4dd32bd",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1392,
        304
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').first().json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Dados').first().json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "f462ea77-bfef-4256-a7d6-08cb0cc2d323",
      "name": "Switch6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1152,
        464
      ]
    },
    {
      "parameters": {
        "content": "# Filtro de mensagem",
        "height": 80,
        "width": 356,
        "color": 4
      },
      "id": "699c1951-b2e4-4508-a8a7-770384431758",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"
      },
      "id": "a12d6c84-6b58-4bae-9ccb-d3716e528d5a",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        288
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "33b352da-b299-42bd-a183-58a9d8b1c9a2",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').first().json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a74e9318-28e3-4898-813b-0e5b1e55e0a4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "2d8f9875-e743-4524-ae6a-4bef45855ed7",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        624,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "contato",
              "condition": "eq",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        208
      ],
      "id": "9be2a8dc-0646-42d6-99bb-c9930756339b",
      "name": "Pausar IA",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "contato",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        544
      ],
      "id": "65c3d502-523b-4e9a-b412-05b9939f5765",
      "name": "Verificar Pause",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "8778f93f-9256-4db9-8331-8a7599b87f3b",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -592,
        544
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Dados').first().json.message.content }}",
                    "rightValue": "={{ $('dados-saas').first().json.msg_reativacao }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Pausada"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Dados').first().json.message.content }}",
                    "rightValue": "={{ $('dados-saas').first().json.msg_reativacao }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reativar IA"
            }
          ]
        },
        "options": {}
      },
      "id": "c21c3246-f27e-4448-88b9-6193d95e0710",
      "name": "Rotas1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1008,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "contato",
              "condition": "eq",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "reativada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        384
      ],
      "id": "40a54020-b4ee-4623-8006-a7c1ec2a3ad2",
      "name": "Reativar IA",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('Webhook EVO').first().json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('Webhook EVO').first().json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').first().json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').first().json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').first().json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('Webhook EVO').first().json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').first().json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').first().json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('Webhook EVO').first().json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('Webhook EVO').first().json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').first().json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook EVO').first().json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "886e3751-e39b-4fc6-98d1-3113eaeebbb4",
              "name": "=body.event",
              "value": "={{ $('Webhook EVO').first().json.body.event }}",
              "type": "string"
            },
            {
              "id": "d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7",
              "name": "Telefone",
              "value": "={{ $('Webhook EVO').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a57db642-3e13-452e-bb5b-19f7e9f3bd5d",
              "name": "NomeWpp",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "66194ad2-e80c-4375-9f89-9c97347c9773",
              "name": "sender",
              "value": "={{ $json.body.sender.replaceAll('@s.whatsapp.net', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd10c8d3-4398-4579-9c85-612b269b58d4",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3408,
        432
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -816,
        384
      ],
      "id": "03f85532-90cb-43e7-af11-8ff6da36507a",
      "name": "Wait",
      "webhookId": "fb57c068-92da-4e57-a6bd-c69c7c2de863"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').first().json.Telefone }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Dados').first().json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        496
      ],
      "id": "451e43ed-cf48-4ddf-8334-f21ff6a9fae6",
      "name": "Salvar Historicoo Humano1",
      "credentials": {
        "postgres": {
          "id": "Ej1oWYtu4lHP24S4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "=gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2112,
        336
      ],
      "id": "caff1cc1-ebf9-4b24-9dfb-4739c5d27670",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.mensagem_completa.last() }}",
        "options": {
          "systemMessage": "={\n\"name\": \"AgenteRag\",\n\"objectives\": [\n\"Responder somente com dados obtidos das ferramentas disponíveis (obter_produtos_e_servicos e/ou obter_perguntas_e_respostas), sem dicas extras\"\n],\n\"tools\": [\n{\n\"name\": \"obter_produtos_e_servicos\",\n\"description\": \"Obtém produtos e serviços oferecidos pela empresa, com nome, informações e valores, para reforçar o contexto de atendimento.\",\n\"required\": false\n},\n{\n\"name\": \"obter_perguntas_e_respostas\",\n\"description\": \"Obtém perguntas comuns de atendimento e suas respostas correspondentes (FAQ) para reforçar o contexto de atendimento.\",\n\"required\": false\n}\n],\n\"general_rules\": [\n\"Não inventar respostas\",\n\"Sempre usar as ferramentas disponíveis\",\n\"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n]\n}"
        }
      },
      "id": "18bad784-1092-485f-bbe4-51232b56f4d5",
      "name": "Agente Rag",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2112,
        144
      ]
    },
    {
      "parameters": {
        "content": "# Agente RAG",
        "height": 80,
        "width": 336,
        "color": 4
      },
      "id": "4950c2e5-f93a-4f30-8b9b-dcd08e21dbe5",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        48
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 852,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        48
      ],
      "typeVersion": 1,
      "id": "75c1a2bd-23ee-4b2e-be6b-3bc058622656",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').first().json.Telefone }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Dados').first().json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -304,
        208
      ],
      "id": "b6569cd8-2a7a-4954-9d2c-8c6c2e0e096f",
      "name": "Salvar Historicoo Humano",
      "credentials": {
        "postgres": {
          "id": "Ej1oWYtu4lHP24S4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Obter conexão e empresa').first().json.nome_api }}",
        "remoteJid": "={{ $('Webhook EVO').first().json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.mensagem || $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4784,
        384
      ],
      "id": "1eff96ef-1ff9-4b8a-811c-1196e02d1502",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "KmftpapTZJS8cXm9",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ias",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id_ia }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2944,
        432
      ],
      "id": "059c47c8-d172-4c92-b293-a99de1997f21",
      "name": "Obter Ia e Prompt",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "conexoes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $json.sender }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3168,
        432
      ],
      "id": "a49e715f-8f78-47c3-9e2b-a1040de6ed6a",
      "name": "Obter conexão e empresa",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5076d1-7ec5-4496-bdb9-34956f073e4e",
              "name": "empresa",
              "value": "={{ $('Obter conexão e empresa').first().json.empresa_id }}",
              "type": "string"
            },
            {
              "id": "aa28b6fe-f41a-4b0b-a1b8-cf93cf640bd3",
              "name": "prompt",
              "value": "=Você é um atendente chamado {{ $json.nome }}, com personalidade {{ $json.personalidade }} do sexo {{ $json.sexo }}. Sempre consulte a memoria de atendimento para ter um contexto para sua conversa.\n\n{{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "291166a0-4517-4de1-9c67-5efcb36b2445",
              "name": "apikey_openia",
              "value": "={{ $json.openia_key }}",
              "type": "string"
            },
            {
              "id": "8fbb3374-5dc8-4129-80f4-6b8b3fa71641",
              "name": "msg_reativacao",
              "value": "={{ $json.msg_reativacao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        416
      ],
      "id": "803ef9a3-088e-41ae-96ff-2fe491046720",
      "name": "dados-saas"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "catalog_items",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $('dados-saas').first().json.empresa }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2256,
        480
      ],
      "id": "2cc6c1eb-cbb4-4765-8510-33510df54333",
      "name": "obter_produtos_e_servicos",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faqs",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "ia_id",
              "condition": "eq",
              "keyValue": "={{ $('Obter Ia e Prompt').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2480,
        464
      ],
      "id": "b6500919-a4da-49f3-b665-05e8ace8153d",
      "name": "obter_perguntas_e_respostas",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49b9bd26-5b39-44cc-86da-114e62718126",
              "leftValue": "={{ $json.ativa }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2656,
        512
      ],
      "id": "c764bc8c-c357-413b-992c-c239f317e81f",
      "name": "Verifica se Ia está ativa"
    },
    {
      "parameters": {
        "model": "=gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2976,
        1008
      ],
      "id": "1e0ba0e9-1873-443d-b2fa-c3c0e85846a7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crie um resumo do atendimento ao cliente apresentando os principais pontos da conversa",
        "options": {
          "systemMessage": "=Crie um resumo do atendimento ao cliente"
        }
      },
      "id": "77a1ece5-d354-4b8c-a4de-570c0736a904",
      "name": "Atendente1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3040,
        768
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone ?? \"user_default\" }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3136,
        976
      ],
      "id": "1bcf58fd-81d9-4792-9e32-c76295058238",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "Ej1oWYtu4lHP24S4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "contato",
              "condition": "eq",
              "keyValue": "={{ $('Webhook EVO').first().json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "resumo",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3456,
        832
      ],
      "id": "97fc2fae-375d-4ec5-91ab-762159e3742b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "qrZ7Lx0Vz0dtVjl0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.data.key.remoteJid }}"
      },
      "id": "bc26c269-d6df-4ec4-8c8c-0f310fd32871",
      "name": "Get Memory ",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4768,
        176
      ],
      "credentials": {
        "redis": {
          "id": "9ynC9ROIxEa3NqrJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "=gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3104,
        480
      ],
      "id": "887ccc34-4e0d-4131-8da9-55f78b2d5805",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "OpFL0vlVIKnqP0xT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ ( $('Mensagem Completa').first()?.json?.mensagem_completa ?? '' ).toString().trim() }}",
        "options": {
          "systemMessage": "={{ $('dados-saas').first().json.prompt }}\n\nRegras de resposta com ferramentas:\n1) Ao acionar agendar_servico ou cancelar_agendamento, aguarde o retorno do tool antes de responder.\n2) Se o tool retornar o campo 'mensagem', responda exclusivamente com esse texto.\n3) Use 'agendamento_ok' (true/false) para confirmar ou informar indisponibilidade conforme a mensagem retornada.\n4) Use 'cancel_ok' (true/false) para confirmar ou informar que não foi possível cancelar, conforme a mensagem retornada.\n\nContexto adicional:\n- Data e hora atual: {{ $now.setZone('America/Sao_Paulo').format('cccc, dd/MM/yyyy HH:mm') }}.\n- Cliente atual: {{ $('Dados').first().json.NomeWpp }}.\n- Telefone atual: {{ $('Dados').first().json.Telefone }}."
        }
      },
      "id": "4a7bfdc2-fd86-4373-b6e2-2692c3401e73",
      "name": "Atendente2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3184,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7a2b1c4-1234-4f8e-9abc-0def98765432",
      "name": "Tem Mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3328,
        256
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone ?? \"user_default\" }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3248,
        448
      ],
      "id": "5f56e359-9bb9-45d1-83ca-bfc853ba325b",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "Ej1oWYtu4lHP24S4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "\"Use esta ferramenta quando o cliente solicitar o cancelamento de um agendamento. Você precisará do contato do cliente, da data/hora original e da empresa.\"",
        "workflowId": {
          "__rl": true,
          "value": "vvGVKY5ZcVAbTXok",
          "mode": "list",
          "cachedResultName": "Cancelar Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contato_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contato_cliente', ``, 'string') }}",
            "data_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_hora', ``, 'string') }}",
            "empresa_id": "={{ $('Obter conexão e empresa').first().json.empresa_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contato_cliente",
              "displayName": "contato_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3504,
        480
      ],
      "id": "331912e7-08e9-49b6-83bd-673baa376c62",
      "name": "cancelar_agendamento"
    },
    {
      "parameters": {
        "description": "\"Use esta ferramenta para criar um agendamento no banco de dados. Você deve extrair da conversa: o nome do cliente, o WhatsApp (contato), o serviço desejado e a data/hora (converta para o formato ISO AAAA-MM-DDTHH:MM:SS).\"",
        "workflowId": {
          "__rl": true,
          "value": "4G8C3WI99KTIAWzC",
          "mode": "list",
          "cachedResultName": "Criar Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_cliente": "={{ $('Dados').first().json.NomeWpp }}",
            "contato_cliente": "={{ $('Dados').first().json.Telefone.split('@')[0] }}",
            "servico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servico', ``, 'string') }}",
            "data_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_hora', ``, 'string') }}",
            "empresa_id": "={{ $('Obter conexão e empresa').first().json.empresa_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_cliente",
              "displayName": "nome_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contato_cliente",
              "displayName": "contato_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3360,
        512
      ],
      "id": "57f15387-b05a-431b-9217-f2748141bf2d",
      "name": "agendar_servico"
    },
    {
      "parameters": {
        "description": "\"Verificar horários disponíveis no Google Calendar (09:00–18:00), sugerir 4 horários em 3 dias.\"",
        "workflowId": {
          "__rl": true,
          "value": "WRAP-GOOGLE-DISP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Dados').first().json.NomeWpp }}",
            "email": "={{ $('Dados').first().json.Telefone.split('@')[0] }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "conversationStory": "={{ $('Mensagem Completa').first().json.mensagem_completa }}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3216,
        592
      ],
      "id": "b2a1c3d4-e5f6-47a8-9b0c-1d2e3f4a5b6d",
      "name": "google_disponibilidade"
    },
    {
      "parameters": {
        "description": "\"Criar agendamento via Google Calendar com nome, telefone e horário desejado.\"",
        "workflowId": {
          "__rl": true,
          "value": "WRAP-GOOGLE-AGENDAR",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Dados').first().json.NomeWpp }}",
            "email": "={{ $('Dados').first().json.Telefone.split('@')[0] }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "conversationStory": "={{ $('Mensagem Completa').first().json.mensagem_completa }}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3216,
        688
      ],
      "id": "c3d4e5f6-7a8b-49c0-9d1e-2f3a4b5c6d7e",
      "name": "google_agendar"
    },
    {
      "parameters": {
        "description": "\"Operar agendamento somente quando agenda_ativa. Caso contrário, retorna mensagem padrão.\"",
        "workflowId": {
          "__rl": true,
          "value": "WRP-AGD-GUARD",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agenda_ativa": "={{ $('dados-saas').first().json.agenda_ativa ? 'true' : 'false' }}",
            "acao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('acao', ``, 'string') }}",
            "nome_cliente": "={{ $('Dados').first().json.NomeWpp }}",
            "contato_cliente": "={{ $('Dados').first().json.Telefone.split('@')[0] }}",
            "servico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servico', ``, 'string') }}",
            "data_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_hora', ``, 'string') }}",
            "empresa_id": "={{ $('Obter conexão e empresa').first().json.empresa_id }}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3360,
        560
      ],
      "id": "agd-saas-pro-node",
      "name": "agendamento_profissional"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Get Memory ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento_profissional": {
      "ai_tool": [
        [
          {
            "node": "Atendente2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "1 segundo": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory1": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Compara Get Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Rotas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "Agente Rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Audio Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause": {
      "main": [
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas1": {
      "main": [
        [
          {
            "node": "Pausar IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reativar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Obter conexão e empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Reativar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Rag": {
      "main": [
        [
          {
            "node": "Atendente1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atendente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Ia e Prompt": {
      "main": [
        [
          {
            "node": "Verifica se Ia está ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter conexão e empresa": {
      "main": [
        [
          {
            "node": "Obter Ia e Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados-saas": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obter_produtos_e_servicos": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obter_perguntas_e_respostas": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se Ia está ativa": {
      "main": [
        [
          {
            "node": "dados-saas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Atendente1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Atendente1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Atendente2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Atendente2": {
      "main": [
        [
          {
            "node": "Preferir Mensagem Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preferir Mensagem Tool": {
      "main": [
        [
          {
            "node": "Tem Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mensagem": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar_servico": {
      "ai_tool": [
        [
          {
            "node": "Atendente2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Atendente2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb2835e8-3334-44b3-aa2b-bf21103ad83c",
  "meta": {
    "instanceId": "7f0412fad1a6c8c3843eb6a404930fcbc22885095f7e8f73037797e8217b976b"
  },
  "id": "n6IoTf1M2XydpNNh",
  "tags": []
}
